.navbar {
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7rem;
  background: linear-gradient(
    to bottom,
    rgb(215, 212, 212) 50%,
    rgb(185, 176, 176) 50%
  );
  position: relative;
  border-radius: 20px;
}
.navbar div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date {
  position: absolute;
  top: 15px;
  left: 200px;
}

.dropdown {
  position: absolute;
  top: 10px;
  right: 240px;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 0;
}

.select {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 0;
}

.text {
  position: absolute;
  top: 70px;
  left: 180px;
}

.buttons {
  position: absolute;
  top: 70px;
  right: 210px;
}

.button {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: white;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.button:hover {
  cursor: pointer;
}

.submitBtn {
  background-color: rgb(111, 239, 111);
  transition: 0.2s all;
}

.submitBtn:hover {
  background-color: rgb(62, 159, 62);
}

.submitBtn:active {
  background-color: rgb(37, 160, 37);
  transform: scale(0.98);
}

.resetBtn {
  background-color: red;
  transition: 0.1s all;
}

.resetBtn:hover {
  background-color: rgb(175, 38, 38);
}

.resetBtn:active {
  background-color: rgb(175, 38, 38);
  transform: scale(0.98);
}

.select:hover,
#date:hover {
  cursor: pointer;
}

.i {
  font-size: 30px;
  color: #4149dc;
}

.img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: solid black 1px;
  object-fit: contain;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.24);
}

.outterImgCircle {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 50%,
    rgb(56, 10, 156) 50%
  );
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerImgCircle {
  border-radius: 50%;
  border: rgb(56, 10, 156) solid 3px;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
